body {
    background-color: palevioletred; 
    color:rgb(238, 181, 108);
    font-family: "Playwrite CU", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
 button {

    background-color: rgb(243, 243, 24);
    color: rgb(131, 92, 168);
    font-family: "Playwrite CU", cursive;
 }

